@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

.box {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

.space {
  margin-bottom: 16px;
}

.space-md {
  margin-bottom: 32px;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.header {
  background: url(images/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

.header .title {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.header .title span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
}

.form textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

.fieldset {
  padding: 0 32px;
}

.counter {
  display: flex;
}

.counter input {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
}

.footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  appearance: none;
  background: #2f3676;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
}

.footer button:focus,
.footer button:hover {
  border: 2px solid #2f3676;
  background: #191847;
}
